html{
    background: linear-gradient(to bottom, #00C9FF, #0071E5);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body{
    font-family: 'Baloo 2','Ubuntu','Segoe UI','Roboto','sans-serif';
}

.title{
    background: linear-gradient(to top, #1E1E28, #424252);
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    z-index: 1000;
    border-radius: 0px 0px 25px 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
}

.title h1 {
    float: center;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin: 0px
}

h1{
    text-align: center;
}

h3{
    text-align: center;
}

p{
    font-size: 16px;
}

.bananas{
    font-size: 22px;
    text-align: left;
    margin: 0px;
    margin-left: 10px;
    margin-top: 50px;
}

.banana{
    margin: 0px;
    font-size: 18px;
    margin-left: 10px;
}

.button {
    background: linear-gradient(to bottom, #FF7758, #D15544);
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
    margin-left: 10px;
}